.find-friends-popu{
  position: relative;
  justify-content: space-evenly;
}
.find-friends-popu .close-popup{
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  color: red;
  transition: 0.3s;
}
.find-friends-popu .close-popup:active{
  transform: scale(0.9);
}
.find-friends-popu h2{
  font-size: 1rem;
}

.find-friends-popu .error-msg{
  font-weight: 600;
  font-size: 1rem;
  height: 1.25rem;
}
.find-friends-popu div{
  height:2rem ;
  width: 80%;
  display: flex;
}
.find-friends-popu input{
  width: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.find-friends-popu button{
  background-color: brown;
  width: 30%;
  height: 100%;
  border: none;
  transition: 0.3s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
