.popup-container{
  position: fixed;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.211);
  backdrop-filter: blur(10px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}
.popup{
  width: 20rem;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  background: var(--signIn-btn-clr);
  transition: 0.25s;
}
.popup h2{
  font-size: 1.25rem;
  transition: 0.25s;
}
.popup-btn-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.25s;

}
.popup-btn-container button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-clr);
  font-weight: bold;
  width: 5rem;
  height: 2.5rem;
  white-space: nowrap;
  transition: 0.25s;
}
.confirm{
  background: rgba(47, 255, 102, 0.7) !important;
  transition: 0.25s;

}
.Not-Now{
  background: rgba(255, 0, 0, 0.781) !important;
  transition: 0.25s;

}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1.7rem;
  height: 7rem;
  justify-content: space-around;
  transition: 0.25s;

}