.popup-container{
  position: fixed;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.211);
  backdrop-filter: blur(10px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s;
}
.popup{
  width: 20rem;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  background: var(--signIn-btn-clr);
}
.popup h2{
  font-size: 1.25rem;
}
.popup-btn-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.popup-btn-container button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-clr);
  font-weight: bold;
  width: 5rem;
  height: 2.5rem;
  white-space: nowrap;
}
.confirm{
  background: rgba(47, 255, 102, 0.7) !important;
}
.Not-Now{
  background: rgba(255, 0, 0, 0.781) !important;
}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1.7rem;
  height: 7rem;
  justify-content: space-around;
}
.popup-visable{
  opacity: 1;
  pointer-events: all;
}
.popup-animation{
  animation-name: popupAnimation ;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}
@keyframes popupAnimation{
  0%{
    transform: scale(0);
  }100%{
    transform: scale(1);
  }
}