html, body {
  box-sizing: border-box !important;
  width: 100% !important;
  height: auto;
  min-height:100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--txt-clr); 
  background: var(--bg-clr);
}
header {
  box-sizing: border-box !important;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start; 
  background-color: var(--header-bg-clr);
  font-size: 1.5rem;
  font-weight: bold;
  height: 5rem;
  box-shadow: var(--heade-box-shadow); 
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  user-select: none;
}
button{
  user-select: none;
}
button:active{
  transform: scale(0.9);
}
button, 
input, 
label, 
a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}