.sign-in-bage main{
  margin-top: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.sign-in-bage form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 100%;
  box-shadow: var(--form-box-shadow);
  border-radius: 25px;
  background: var(--form-bg-clr);
  border: var(--form-dorder);
}
.sign-in-bage h1{
  margin: 0;
  font-size: 1.5rem;
}
.sign-in-bage form div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
}
.sign-in-bage form label {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sign-in-bage form input {
  height: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: none;
}

.sign-in-bage form .lock-password{
  width: 30px;
  height: 30px;
  background: var(--lock-btn-bg);
  box-shadow: var(--lock-btn-shadow);
  border-radius: 50%;
  padding: 5px; 
  transition: all 0.25s;
  cursor: pointer;
}
.sign-in-bage form .lock-password:hover{
  background: var(--lock-btn-hover-bg);
  box-shadow: var(--lock-btn-hover-shadow );
}
.opend-lock-img{
  background: var(--open-lock-btn-bg) !important;
  box-shadow: var(--open-lock-bnt-shadow) !important;
  transition: 0.25s;

}
.opend-lock-img:hover{
  background:var(--open-lock-hover-bg) !important;
  box-shadow:var(--open-lock-hover-shadow) !important;

}
.lock-password img{
  width: 20px;
  height: 20px;
  padding: 0.25rem;
  border-radius: 50%;
  user-select: none;
}
.sign-in-bage form div span {
  width: 100%;
  height: 1.5rem;
}

.sign-in-bage .error-msg{
  color: red;
  font-size: 0.725rem;
}
.sign-in-bage button {
  padding: 1rem;
  background: var(--signIn-btn-clr);
  box-shadow:var(--signIn-btn-boxShadow);
  /* background: linear-gradient(45deg, #00bcd4, #ff4081); */
  border: none;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}
.sign-in-bage button:hover{
  box-shadow: var(--signIn-btn-hover);
}
.sign-in-bage button:active{
  box-shadow: var(--signIn-btn-active);
  opacity: 0.9;
  transform: scale(0.96);
}
.switch-container{
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.slider{
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color:rgb(33, 33, 54); 
  transition: 0.5s;
}
.slider::before{
  position: absolute;
  content: url(/assets/dark_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
  width: 2rem;
  height: 2rem;
  top: 0px;
  left: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:   rgb(142, 68, 173);
  transition: 0.5s;
}
.slider-check-box:checked + .slider {
  background-color:rgb(240, 255, 240)
}
.slider-check-box:checked + .slider::before{
  content: url(/assets/light_mode_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
  background-color:  rgb(255, 170, 120) !important; 
  transform: translate(1.747rem,0);
}
.slider-check-box{
  visibility: hidden;
}
@media screen and (min-width:768px) {
  header{
    justify-content: center;
  }
}