.sign-in-bage main{
  margin-top: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.sign-in-bage form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 100%;
  box-shadow: 0 0 25px rgba(72, 180, 227, 0.2);
  border-radius: 25px;
  background: linear-gradient(to right bottom, 
  rgba(10, 10, 10, 0.2), 
  rgba(25, 25, 35, 0.3), 
  rgba(35, 35, 45, 0.4)
);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.sign-in-bage h1{
  margin: 0;
  font-size: 1.5rem;
}
.sign-in-bage form div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  gap: 1rem;
}
.sign-in-bage form label {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sign-in-bage form input {
  height: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: none;
}

.sign-in-bage form .lock-password{
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, #0097a7, #0055cc);
  box-shadow: 0 0 12px #0097a7, 0 0 25px #0055cc;
  border-radius: 50%;
  padding: 5px; 
  transition: all 0.25s;
}
.sign-in-bage form .lock-password:hover{
  background: linear-gradient(45deg, #00bcd4, #0077ff);
  box-shadow: 0 0 10px #00bcd4, 0 0 20px #0077ff;
}
.opend-lock-img{

  background: linear-gradient(45deg, #d32f2f, #ff5252) !important;
  box-shadow: 0 0 12px #d32f2f, 0 0 25px #ff5252 !important;
  transition: all 0.25s;
}
.opend-lock-img:hover{
  background: linear-gradient(45deg, #ff3b3b, #ff6b6b) !important;
  box-shadow: 0 0 10px #ff3b3b, 0 0 20px #ff6b6b !important;
}
.lock-password img{
  width: 20px;
  height: 20px;
  padding: 0.25rem;
  border-radius: 50%;
}
.sign-in-bage form div span {
  width: 100%;
  height: 1.5rem;
}

.sign-in-bage .error-msg{
  color: red;
  font-size: 0.725rem;
}
.sign-in-bage button {
  padding: 1rem;
  background: linear-gradient(45deg, rgb(0, 212, 255), rgb(142, 68, 173));
  box-shadow: 0 0 4px rgba(0, 212, 255, 0.3), 0 0 8px rgba(142, 68, 173, 0.3);
  /* background: linear-gradient(45deg, #00bcd4, #ff4081); */
  border: none;
  border-radius: 8px;
}
.sign-in-bage button:hover{
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5), 0 0 10px rgba(142, 68, 173, 0.4);
}
.sign-in-bage button:active{
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6), 0 0 14px rgba(142, 68, 173, 0.5);
}
